__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# SQLite database
db.sqlite3

# Django static & media
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS system files
.DS_Store
Thumbs.db

# Migrations cache
*/migrations/__pycache__/
