{% extends 'base.html' %}
{% load static %}

{% block title %}Thông tin tài khoản - Punky Spa{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'TK/thongtinkh.css' %}">

<div class="container-profile">
  <div class="profile-header">
    <div class="avatar"><i class="fa fa-user-circle"></i></div>
    <div>
      <h2>{{ user.username }}</h2>
      <p>{{ user.email }}</p>
    </div>
  </div>

  {% if messages %}
    <div class="message-container">
      {% for message in messages %}
        <div class="alert"><i class="fa fa-check-circle"></i> {{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <div class="profile-content">
      <div class="row">
        <div class="col">
          <label>Tên</label>
          {{ form.ho_ten }}
        </div>
        <div class="col">
          <label>Giới tính</label>
          {{ form.gioi_tinh }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Số điện thoại</label>
          {{ form.so_dien_thoai }}
        </div>
        <div class="col">
          <label>Ngày sinh</label>
          {{ form.ngay_sinh }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Địa chỉ</label>
          {{ form.dia_chi }}
        </div>
        <div class="col">
          <label>Email</label>
          {{ form.email }}
        </div>
      </div>

      <div class="update-container">
        <button type="submit" class="update-btn">
          <i class="fa fa-pen"></i> Cập nhật
        </button>
        <button type="button" class="cancel-btn"
          onclick="window.history.back()">Hủy
        </button>
      </div>
    </div>
  </form>
</div>
<script>
flatpickr("input[name='ngay_sinh']", {
    dateFormat: "d/m/Y",    // hiển thị đúng kiểu Việt Nam
    locale: "vn"
});
</script>
{% endblock %}
