{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Khiếu nại dịch vụ</title>
  <link rel="stylesheet" href="{% static 'KhieunaiDanhgia/dg_kn.css' %}">
</head>

<body>

<div class="form-box">
    <button class="close-btn" onclick="window.location.href='{% url 'lich_su_lich_hen' %}'">&times;</button>

    <h2>KHIẾU NẠI DỊCH VỤ</h2>

    {% if da_khieu_nai %}
      <p style="text-align:center; color:#a01940; font-weight:600;">Bạn đã gửi khiếu nại cho lịch hẹn này 💗</p>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
        {{ form.errors }}

      <!-- Lý do -->
      <label>Lý do khiếu nại:</label>
      {% if da_khieu_nai %}
          <textarea disabled>{{ kn.noi_dung }}</textarea>
      {% else %}
          {{ form.noi_dung }}
      {% endif %}

      <!-- Minh chứng -->
      <label>Minh chứng (ảnh/video):</label>

      {% if da_khieu_nai %}
          {% if kn.minh_chung %}
              <div class="preview-box">
                  <img src="{{ kn.minh_chung.url }}">
              </div>
          {% else %}
              <p style="color:#777;">(Không có minh chứng)</p>
          {% endif %}
      {% else %}
          {{ form.minh_chung }}
      {% endif %}

      <!-- Yêu cầu -->
      <label>Yêu cầu / mong muốn:</label>
      {% if da_khieu_nai %}
          <textarea disabled>{{ kn.yeu_cau }}</textarea>
      {% else %}
          {{ form.yeu_cau }}
      {% endif %}
      {{ form.trang_thai.as_hidden }}
      {{ form.phan_hoi.as_hidden }}
      <!-- Button -->
      {% if da_khieu_nai %}
        <button class="submit-btn" disabled>ĐÃ GỬI KHIẾU NẠI</button>
      {% else %}
        <button class="submit-btn">GỬI KHIẾU NẠI</button>
      {% endif %}
    </form>

</div>

</body>
</html>
